html {
	background: linear-gradient(
		to right,
		rgb(246, 12, 234),
		rgb(114, 121, 255)
	);
	font-family: Helvetica;
	color: white;
}

#glass {
	height: 100%;
	width: 100%;
	background: #878787;
	opacity: 50%;
}
/* 
#intro {
	display: inline-block;
	position: static;
	margin: 0.5rem;
	margin-left: 0.25rem;
} */

#info {
	/* float: left; */
	width: 40.5rem;
	height: 13.5rem;
	border-radius: 0.5rem;
	font-size: large;
	font-weight: 600;
}

img {
	float: right;
	width: 14.5rem;
	border-radius: 0.5rem;
	top: 1rem;
	right: 1rem;
}

a[href] {
	color: rgb(20, 148, 233);
	font-family: 'Courier New', Courier, monospace;
}

h1 {
	padding: 0;
}

h2 {
	text-decoration: underline;
	text-transform: uppercase;
}

h3 {
	font-variant: small-caps;
}

h4 {
	font-variant: small-caps;
	font-weight: lighter;
}
